# Environments
.env
.venv
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Machine Learning Data & Models
ml_pipeline/data/*.csv
ml_pipeline/models/*.joblib